<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.productMapper">
	
	<!-- 최근 출품된 상품 조회 -->
	<select id="selectRecentlyProduct" parameterType="int" resultType="ProductVO">
		SELECT p.seq_user_id, 
			   p.reg_date, 
			   p.mod_date, 
		       p.product_id, 
		       p.product_name, 
		       p.product_cnt, 
		       p.product_price, 
		       p.product_desc, 
		       p.product_img, 
		       p.product_thumbImg, 
		       p.category, 
		       p.sale, 
		       p.discount, 
		       p.weight, 
		       p.attention, 
		       p.valid_date, 
		       p.use_info, 
		       p.country,
		       rating 
		FROM product p 
		LEFT JOIN (SELECT product_id, AVG(rating) as rating FROM product_reply group by product_id) pr 
		ON p.product_id = pr.product_id 
		WHERE p.category = #{category}
		AND p.sale = 'Y'
		ORDER BY p.reg_date DESC
		LIMIT 0, 4
	</select>
	
	<!-- 상품테이블과 점포테이블 조회 -->
	<resultMap type="com.junsoo.shopping.common.vo.ProductVO" id="productVO">
		<result property="seq_user_id" column="seq_user_id"/>
		<result property="reg_date" column="reg_date"/>
		<result property="mod_date" column="mod_date"/>
		<result property="product_id" column="product_id"/>
		<result property="product_name" column="product_name"/>
		<result property="product_cnt" column="product_cnt"/>
		<result property="product_price" column="product_price"/>
		<result property="product_desc" column="product_desc"/>
		<result property="product_img" column="product_img"/>
		<result property="product_thumbImg" column="product_thumbImg"/>
		<result property="category" column="category"/>
		<result property="sale" column="sale"/>
		<result property="discount" column="discount"/>
		<result property="weight" column="weight"/>
		<result property="attention" column="attention"/>
		<result property="valid_date" column="valid_date"/>
		<result property="use_info" column="use_info"/>
		<result property="country" column="country"/>
	</resultMap>
	<resultMap type="com.junsoo.shopping.common.vo.StoreVO" id="storeVO">
		<result property="seq_user_id" column="seq_user_id"/>
		<result property="reg_date" column="reg_date"/>
		<result property="mod_date" column="mod_date"/>
		<result property="del_flg" column="del_flg"/>
		<result property="store_name" column="store_name"/>
		<result property="store_phone" column="store_phone"/>
		<result property="ratio" column="ratio"/>
	</resultMap>
	<resultMap type="com.junsoo.shopping.common.vo.ProductDetailVO" id="productDetailVO">
		<collection property="productVO" resultMap="productVO"/>
		<collection property="storeVO" resultMap="storeVO"/>
	</resultMap>
	<select id="selectProductDetail" resultMap="productDetailVO">
		SELECT *
		FROM   product p, store s
		WHERE  p.product_id = #{product_id}
		AND    s.seq_user_id = p.seq_user_id
	</select>
	
	<!-- 고객들에게 보여지는 점포별 추천 아이템 조회 -->
	<select id="selectSameStoreProduct" resultType="ProductVO">
		SELECT *
		FROM   product
		WHERE  seq_user_id = #{seq_user_id}
		AND    product_id != #{product_id}
		AND	   sale = 'Y'
		AND    product_cnt > 0
		LIMIT 8
	</select>

	<!-- 카테고리 별 상품 개수조회 -->
	<select id="selectCategoryProductCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*)
		FROM   product
		WHERE sale = 'Y'
		<if test='category != null'>
			AND  category = #{category}
		</if>
		<if test='search != null and !search.equals("")'>
			AND product_name LIKE CONCAT('%',#{search},'%')
		</if>
	</select>	
	
	<!-- 카테고리별 모든 상품 조회 -->
	<select id="selectCategoryProducts" parameterType="hashMap" resultType="ProductVO">
		SELECT p.seq_user_id, 
			   p.reg_date, 
			   p.mod_date, 
		       p.product_id, 
		       p.product_name, 
		       p.product_cnt, 
		       p.product_price, 
		       p.product_desc, 
		       p.product_img, 
		       p.product_thumbImg, 
		       p.category, 
		       p.sale, 
		       p.discount, 
		       p.weight, 
		       p.attention, 
		       p.valid_date, 
		       p.use_info, 
		       p.country,
		       rating 
		FROM product p 
		LEFT JOIN (SELECT product_id, AVG(rating) as rating FROM product_reply group by product_id) pr 
		ON p.product_id = pr.product_id
		WHERE p.sale = 'Y'
		<if test='category != null'>
			AND  p.category = #{category}
		</if>
		<if test='search != null and !search.equals("")'>
			AND p.product_name LIKE CONCAT('%',#{search},'%')
		</if>
		ORDER BY rating DESC, reg_date DESC
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<!-- 리뷰관리) 특정 상품을 구매한 유저의 유저정보와 주문번호, 리뷰 작성정보 조회-->
	<select id="selectBuyProduct" parameterType="HashMap" resultType="HashMap">
		SELECT
				od.seq_user_id,
				od.order_id,
				od.order_detail_id,
				od.product_id,
				od.amount,
				od.order_date,
				od.product_price,
				od.product_name,
				pr.content,
				pr.rating,
				pr.answer,
				pr.reg_date,
				pr.mod_date
		FROM order_detail od 
		LEFT JOIN product_reply pr ON od.product_id = pr.product_id
		WHERE od.seq_user_id = #{seq_user_id}
        AND od.product_id = #{product_id}
        GROUP BY product_id
	</select>
	
	<!-- 고객이 구매한 상품들 조회 -->
	<select id="selectBuyProducts">
		SELECT ud.seq_user_id,
				ud.user_id,
				ud.user_name,
				ud.auth,
				od.order_id,
				od.order_detail_id,
				od.product_id,
				od.amount,
				od.order_date,
				od.product_price,
				od.product_name,
				pr.content,
				pr.rating,
				pr.answer,
				pr.reg_date,
				pr.mod_date
		FROM user_data ud
		INNER JOIN order_detail od ON ud.seq_user_id = od.seq_user_id
		LEFT JOIN product_reply pr ON od.product_id = pr.product_id
		WHERE od.seq_user_id = #{seq_user_id}
	</select>
	
	<select id="selectFavoriteProduct" resultType="HashMap">
		SELECT p.product_id product_id, 
				p.product_name product_name, 
		        p.product_thumbImg product_thumbImg, 
		        p.product_price product_price, 
		        p.discount discount, 
		        COUNT(*) reply_count, 
		        AVG(rating) rating 
		FROM product_reply pr
		INNER JOIN product p ON pr.product_id = p.product_id
		GROUP BY product_id
		ORDER BY rating DESC, reply_count DESC
		LIMIT 0, 12
	</select>
	
<!-- =============================점포용===================== -->
	<!-- 자신이 출품한 상품 조회 (점포)  -->
	<select id="selectStoreProducts" resultType="ProductVO">
		SELECT *
		FROM   product
		WHERE  seq_user_id = #{seq_user_id}
	</select>
	
	<!-- 출품한 상품의 상세정보 조회 (점포)-->
	<select id="selectStoreProduct" resultType="ProductVO">
		SELECT *
		FROM   product
		WHERE  seq_user_id = #{seq_user_id}
		AND    product_id = #{product_id}
	</select>
	
	<!-- 출품한 상품 수정  (점포) -->
	<update id="updateProduct" parameterType="ProductVO">
		UPDATE  product
		SET   	mod_date = NOW(),
				product_name = #{product_name},
				product_cnt = #{product_cnt},
				product_price = #{product_price},
				product_desc = #{product_desc},
				<if test='product_img neq null'>
				product_img = #{product_img},
				product_thumbImg = #{product_thumbImg},
				</if>
				category = #{category},
				sale = #{sale},
				discount = #{discount},
				weight = #{weight},
				attention = #{attention},
				valid_date = #{valid_date},
				use_info = #{use_info},
				country = #{country}
		WHERE   seq_user_id = #{seq_user_id}
		AND     product_id = #{product_id}
	</update>
	
	<!-- 상품등록 -->
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO product(
 			seq_user_id,
			product_name,
			product_cnt,
			product_price,
			product_desc,
			product_img,
			product_thumbImg,
			category,
			sale,
			discount,
			weight,
			attention,
			valid_date,
			use_info,
			country
		) VALUES (
			#{seq_user_id},
			#{product_name},
			#{product_cnt},
			#{product_price},
			#{product_desc},
			#{product_img},
			#{product_thumbImg},
			#{category},
			#{sale},
			#{discount},
			#{weight},
			#{attention},
			#{valid_date},
			#{use_info},
			#{country}
		)
	</insert>
</mapper>