<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.productMapper">
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO product(
 			seq_user_id,
			product_name,
			product_cnt,
			product_price,
			product_desc,
			product_img,
			product_thumbImg,
			category,
			sale,
			discount
		) VALUES (
			#{seq_user_id},
			#{product_name},
			#{product_cnt},
			#{product_price},
			#{product_desc},
			#{product_img},
			#{product_thumbImg},
			#{category},
			#{sale},
			#{discount}
		)
	</insert>
	
	<select id="selectRecentlyProduct" parameterType="int" resultType="ProductVO">
		SELECT *
		FROM   product
		WHERE  category = #{category}
		AND    sale = 'Y'
		AND	   product_cnt != 0
		ORDER BY reg_date DESC LIMIT 4
	</select>
</mapper>