<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.userDataMapper">
	<!-- SELECT 특정 유저의 모든 데이터를 취득 --> 
	<select id="selectOneUser" resultType="UserVO">
		SELECT	*
		FROM	user_data
		WHERE	user_id = #{user_id}
	</select>
	
	<!-- SELECT 아이디 존재 여부확인 (0: 미존재, 1: 존재)--> 
	<select id="selectCheckId" parameterType="String" resultType="int">
		SELECT	COUNT(*)
		FROM	user_data
		WHERE	user_id = #{user_id}
	</select>

	<!-- SELECT 로그인시 아이디와 패스워드 일치확인 -->
	<select id="selectPassword" resultType="String">
		SELECT  password
		FROM    user_data
		WHERE   user_id = #{user_id}
	</select>
	
	<!-- INSERT 회원가입 시, 특정 유저의 모든 데이터를 추가 -->
	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO	user_data
			(	
				user_id,
				password,
				user_name,
				user_email,
				user_domain,
				user_birthday,
				user_gender,
				user_phone,
				user_post,
				user_address,
				user_detail_address,
				user_ipaddress
            )
		VALUES(	
				#{user_id},
				#{password},
				#{user_name},
				#{user_email},
				#{user_domain},
				#{user_birthday},
				#{user_gender},
				#{user_phone},
				#{user_post},
				#{user_address},
				#{user_detail_address},
				#{user_ipaddress})
	</insert>
	
</mapper>