<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.noticeMapper">
	
	<select id="selectAllNoticeCount" resultType="int">
		SELECT COUNT(*)
		FROM   notice_board
	</select>
	
	<select id="selectTypeNoticeCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM   notice_board
		WHERE  type = #{type}
	</select>
	
	<select id="selectAllNoticePaging" parameterType="HashMap" resultType="NoticeVO">
		SELECT *
		FROM   notice_board
		ORDER BY notice_id DESC
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectNotice" parameterType="int" resultType="NoticeVO">
		SELECT *
		FROM   notice_board
		WHERE  notice_id = #{notice_id}
	</select>
	
	<select id="selectAllNotice" resultType="NoticeVO">
		SELECT *
		FROM   notice_board
		ORDER BY notice_id DESC
	</select>
	
	<select id="selectTypeNotice" parameterType="String" resultType="NoticeVO">
		SELECT *
		FROM   notice_board
		WHERE  type = #{type}
		ORDER BY reg_date DESC
	</select>
	
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice_board(
			title,
			content,
			content_img1,
			content_img2,
			content_img3,
			views,
			type
		) VALUES (
			#{title},
			#{content},
			#{content_img1},
			#{content_img2},
			#{content_img3},
			0,
			#{type}
		)
	</insert>
	
	<update id="updateNotice" parameterType="NoticeVO">
		UPDATE notice_board
		SET    title = #{title},
				content = #{content},
				content_img1 = #{content_img1},
				content_img2 = #{content_img2},
				content_img3 = #{content_img3},
				mod_date = NOW(),
				type = #{type}
		WHERE  notice_id = #{notice_id}
	</update>
	
	<update id="updateViewsNotice" parameterType="NoticeVO">
		UPDATE notice_board
		SET    views = #{views}+1
		WHERE  notice_id = #{notice_id}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice_board
		WHERE  notice_id = #{notice_id}
	</delete>
</mapper>